BOT_TOKEN=replace_with_your_bot_token_from_BotFather
# You can pass @username OR full link like https://t.me/FMEA1237802VHKV
CHANNEL_USERNAME=https://t.me/FMEA1237802VHKV
CHANNEL_LINK=https://t.me/FMEA1237802VHKV
GROUP_USERNAME=https://t.me/Fmean756800124876
GROUP_LINK=https://t.me/Fmean756800124876
SUPPORT_LINK=https://t.me/amanjee7568
# Accepts comma/newline/"and" separated values
ADMIN_IDS=9234906001
ADMIN_USERNAMES=@amanjee7568,@amanjee
BOT_NAME=Free Money 💰 Earning Adda
BOT_USERNAME=@FMEAN_BOT
BOT_LINK=https://t.me/FMEAN_BOT
TIMEZONE=Asia/Kolkata
REFERRAL_BONUS=10
JOIN_BONUS=5
AUTO_POST_TIMES=09:00,14:00,20:00
